<h2 class="text-3xl font-semibold mb-4">Sabores Disponíveis</h2>

<%= form_with url: new_order_path, method: :get, class: "bg-white p-6 shadow rounded-lg" do |f| %>
  <div class="flex flex-wrap gap-4">
    <% Flavor.all.each do |flavor| %>
      <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-2">
        <div class="bg-white p-4 shadow-md rounded-lg border border-gray-200 h-full">
          <div class="flex items-center">
            <%= check_box_tag "flavor_ids[]", flavor.id, false, id: "flavor_#{flavor.id}", class: "mr-2" %>
            <%= label_tag "flavor_#{flavor.id}", flavor.name, class: "ml-2 text-gray-700 font-bold" %>
          </div>
          <p class="text-gray-600">R$ <%= flavor.price_per_kg %> / kg</p>
          <%= link_to "Ver comentários", flavor_path(flavor), class: "text-blue-500 underline mt-auto" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mt-6">
    <%= f.submit "Comprar", class: "bg-pink-500 text-white px-4 py-2 rounded hover:bg-pink-600" %>
  </div>
<% end %>
