<h2 class="text-2xl font-bold mb-4">Comentários</h2>
<ul class="list-disc pl-5">
  <% @comments.each do |comment| %>
    <li class="mb-4">
      <strong class="font-semibold"><%= comment.user.email %></strong>: <%= comment.content %>
      <% if comment.image.attached? %>
        <br>
        <img src="<%= url_for(comment.image) %>" class="w-24 h-24 max-w-24 max-h-24">
      <% end %>
    </li>
  <% end %>
</ul>
<% if user_signed_in? %>
  <h2 class="text-2xl font-bold mt-8 mb-4">Deixe seu comentário</h2>
  <%= form_with model: [@flavor, Comment.new], local: true, multipart: true do |f| %>
    <div class="mb-4">
      <%= f.label :content, "Comentário", class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_area :content, required: true, class: "border p-2 w-full mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
    </div>
    <div class="mb-4">
      <%= f.label :image, "Adicionar imagem (opcional)", class: "block text-sm font-medium text-gray-700" %>
      <%= f.file_field :image, class: "border p-2 mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
    </div>
    <div>
      <%= f.submit "Enviar", class: "bg-green-500 text-white px-4 py-2 rounded-md shadow-sm hover:bg-green-600" %>
    </div>
  <% end %>
<% else %>
  <p class="mt-4"><%= link_to "Faça login para comentar", new_user_session_path, class: "text-blue-500 hover:underline" %></p>
<% end %>